.btn-login {
  background: #455A64;
}

.login{
  padding-top: 10px;
  padding-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login .btn {
  text-transform: capitalize;
}

.help-block {
  font-size : 9px !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: capitalize;
  color : #ffcdd2;
}

.bar{
  background-color: #263238;
  font-family:'Kreon';
}

.bar li,
.bar p,
.bar a {
  text-transform: uppercase;
  color: white !important;
  font-size : 14px;
  letter-spacing: 1px;
}

.bar a.navbar-brand {
  font-family:'Pacifico';
  text-transform:capitalize;
  font-size:20px;
  letter-spacing: 2px;
  font-weight: normal;
}

.bar a.navbar-brand .drop-cap{
  font-size: 32px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color : #455A64;
  /*border-left:5px solid #455A64;
  border-right:5px solid #455A64;
  border-bottom : 2px solid white;
  border-top : 2px solid white;*/
}
