
.bar{
  background-color: #263238;
  font-family:'Kreon';
}

.bar li,
.bar p,
.bar a {
  text-transform: uppercase;
  color: white !important;
  font-size : 14px;
  letter-spacing: 1px;
}

.login {
  color: grey !important;
  font-size : 14px;
  letter-spacing: 1px;
  margin-top:1%;
  margin-bottom:1%;
}

.btn-login{
    background-color: #5a5a5a;
    padding:1%;
    color: white !important;
    border-radius: 2px;
}

.bar a.navbar-brand {
  font-family:'Pacifico';
  text-transform:capitalize;
  font-size:20px;
  letter-spacing: 2px;
  font-weight: normal;
}

.bar a.navbar-brand .drop-cap{
  font-size: 32px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color : #455A64;
  border-left:5px solid #455A64;
  border-right:5px solid #455A64;
  border-bottom : 2px solid white;
  border-top : 2px solid white;
}

.email{
    border-radius: 2px;
    padding: : 5px 1px 1px;
}
