/*.hero-login{
  background-image: url('https://il5.picdn.net/shutterstock/videos/12178598/thumb/10.jpg');
  background-size: cover;
}

.abc{
  height:100%;

}
.transparent{
  position:relative;
  top:30%;
  bottom: 30%;
  height: 40%;
  vertical-align: middle;
  background: rgba(255,255,255, 0.5);
  padding:2%;
}

.btn{
  border-color: blue;
  border-width: 10px;
  background: rgba(255,255,255, 0.5);
}*/
