<!doctype html>
<html>
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel = "stylesheet" />
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /*CSS here*/
  </style>
  <body>
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<!-- <img alt="gabfest Image Preview" src="http://lorempixel.com/140/140/" /> -->
    			<h3 class="text-info text-center">
    				gabfest : Collaborating online, easily
    			</h3>
    			<p class="text-primary">
    				Greetings !<br /><br />owner.message.<br>
            Remember to login at <strong><a href =
               "http://127.0.0.1:3000/login">our login link </a>
             <!-- </strong> anytime with your password as
             <strong>owner.password</strong>.<br /><br /> -->
             Regards,<br />Team gabfest.
    			</p>
    		</div>
    	</div>
    </div>
  </body>
</html>
