.thing-form {
  margin: 20px 0;
}

.navbar{
  margin-bottom:0;
}
#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 90px;
  line-height: 1;
  letter-spacing: -1px;
  font-family: 'Pacifico';
  text-transform: capitalize;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
  background-image: url('https://il5.picdn.net/shutterstock/videos/12178598/thumb/10.jpg');
  background-size: contain;
  min-height : 100%;
}

.navbar-text {
  margin-left: 15px;
}
