<!-- Displays private and public walls -->
<div class="container-fluid">
  <div>
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="btn-group btn-group-md">
          <button class="btn btn-default" type="button" ng-click="vm.showWalls(vmHome.selectedTeamInfo,'public')">
            <em class="glyphicon glyphicon-align-left"></em> {{vmHome.domain}} Organization Wall
          </button>

          <button ng-if="vmHome.team" class="btn btn-default" type="button" ng-click="vm.showWalls(vmHome.selectedTeamInfo,'private')">
            <em class="glyphicon glyphicon-align-center"></em> {{vmHome.selectedTeamInfo.name}} Team Wall
          </button>
        </div>
      </div>
    </div>
    <br><br>
  </div>
</div>

<!-- Public Wall -->
<div class="container-fluid wallback" ng-show="vm.showPublicWall">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header wallname">
        <h1>
          {{vm.publicWall.domain}} Organization Wall
          <small>{{vm.publicWall.name}}</small>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <input type="text" placeholder="Enter the wall post title" ng-model="vm.wallPostTitle" />
    <input type="text" placeholder="Write your post..." ng-model="vm.wallPostDescription" />

    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.addWallPost('public')">
      Post it!
    </button>
  </div>

  <div class="row well p" ng-repeat ="post in vm.publicWall.posts">

    <div class="col-md-12">
        <h4 class="text-left">POST TITLE {{post.title}}</h4>
        <h4 class="text-right"> Pinned by: {{post.author}}</h4>

    </div>

    <div class="col-md-4">
      <img alt="Post Image" src="http://lorempixel.com/140/140/" class="img-thumbnail" style="width:40px;height:40px;" />

    </div>
    <div class="col-md-8">
      <p>
        {{post.description}}
      </p>
    </div>
    <h6 ng-click="vm.deleteWallPost('public', $index)">Delete</h6>
  </div>

</div>


<!-- Private Wall -->
<div class="container-fluid wallback" ng-show="vm.showPrivateWall">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header wallname">
        <h1>
          {{vm.privateWall.name}} Wall
          <small>{{vm.privateWall.domain}}</small>
        </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <input type="text" placeholder="Enter the wall post title" ng-model="vm.wallPostTitle" />
    <input type="text" placeholder="Write your post..." ng-model="vm.wallPostDescription" />

    <button type="button" class="btn btn-sm btn-primary" ng-click="vm.addWallPost('private')">
      Post it!
    </button>
  </div>

  <div class="row well p" ng-repeat ="post in vm.privateWall.posts">
    <div class="col-md-12">

        <h4 class="text-left">POST TITLE {{post.title}}</h4>
        <h4 class="text-right"> Pinned by: {{post.author}}</h4>

    </div>

    <div class="col-md-4">
      <img alt="Post Image" src="http://lorempixel.com/140/140/" class="img-thumbnail" style="width:40px;height:40px;" />
    </div>
    <div class="col-md-8">
      <p>
        {{post.description}}
      </p>
    </div>
      <h6 ng-click="vm.deleteWallPost('private', $index)">Delete</h6>
  </div>

</div>
